<form class="custom-form-grid md:grid-cols-12">

    <div class="custom-form-field md:col-span-6">
        <label appLabel for="career" label="Carrera" [field]="formData.career"></label>
        <p-select class="ml-3" [options]="careers()" [(ngModel)]="formData.career().value" name="career"
            (onChange)="onCurriculumChange($event)" optionLabel="name" pTooltip="Carreras" filterBy="name"
            placeholder="Seleccione una carrera...">
        </p-select>

    </div>
    <div class="custom-form-field md:col-span-6">
        <label appLabel for="schoolPeriod" label="Malla" [field]="formData.schoolPeriod"></label>
        <p-select [options]="curriculums()" [(ngModel)]="formData.schoolPeriod().value" name="schoolPeriod"
            optionLabel="name" pTooltip="Mallas Curriculares" [filter]="true" filterBy="name"
            placeholder="Seleccione una malla curricular...">
        </p-select>

    </div>
    <div class="custom-form-field md:col-span-6">
        <label appLabel for="academicPeriod" label="Periodo academico" [field]="formData.academicPeriod"></label>
        <p-select [options]="academicPeriods()" [(ngModel)]="formData.academicPeriod().value" name="academicPeriod"
            optionLabel="name" pTooltip="Semestre" filterBy="name" placeholder="Seleccione un semestre...">
        </p-select>
        <!-- [ngModelOptions]="{standalone: true}" se puede cambiar por name   cambiar por name y probar -->
    </div>
    <div class="custom-form-field md:col-span-6">
        <label appLabel for="workday" label="Horario" [field]="formData.workday"></label>
        <p-select [options]="workdays()" [(ngModel)]="formData.workday().value" name="workday" optionLabel="name"
            pTooltip="Horario" filterBy="name" [filter]="true" placeholder="Seleccione un horario...">
        </p-select>

    </div>
    <div class="custom-form-field md:col-span-6">
        <label appLabel for="parallel" label="Paralelo" [field]="formData.parallel"></label>
        <p-select [options]="parallels()" [(ngModel)]="formData.parallel().value" name="parallel" optionLabel="name"
            pTooltip="Paralelo" filterBy="name" [filter]="true" placeholder="Seleccione un paralelo...">
        </p-select>

    </div>

    <div class="custom-form-section md:col-span-12">
        <h3>Total Asignaturas: {{ selectedItems()?.length ?? 0 }}</h3>
    </div>

</form>
<!-- colocar el nombre items a la variable que carga la tabla, eso esta por revisar para ver si es contexto o en genral  -->
<!-- <p-table #dt1 dataKey="id" [value]="subjects()" [selection]="selectedItems()"
    (selectionChange)="onSelectionChange($event)">

    <ng-template pTemplate="header">
        <tr>
            <th style="width:4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Código</th>
            <th>Asignatura</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-subject>
        <tr>
            <td>
                <p-tableCheckbox [value]="subject" />
            </td>
            <td>{{ subject.code }}</td>
            <td>{{ subject.name }}</td>
        </tr>
    </ng-template>
</p-table> -->
<p-table #dt [value]="items()" [tableStyle]="{ 'min-width': '50rem' }" stripedRows [selection]="selectedItems()"
    (selectionChange)="onSelectionChange($event)">
    <ng-template #caption>
        <div class="custom-form-grid">
            <div class="custom-form-grid md:grid-cols-12">
                <div class="custom-form-field md:col-span-9">
                    <h2>Listado de Asignaturas</h2>
                </div>

            </div>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width:4rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Código</th>
            <th>Nombre</th>
        </tr>
    </ng-template>

    <ng-template #body let-item>
        <tr>
            <td>
                <p-tableCheckbox [value]="item" />
            </td>
            <td>{{ item.code }}</td>
            <td>{{ item.shortName }}</td>
        </tr>
    </ng-template>

    <ng-template #footer>
        <tr>
            <td colspan="6">En total existen {{ items() ? items().length : 0 }} items.</td>
        </tr>
    </ng-template>
</p-table>
